.home {
    position: fixed;
    bottom: 0;
    right: 0;

    padding: 5%;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 96%;
    padding: 2%;
}

.background {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at bottom, var(--color-dark) 0%, var(--color-black) 100%);
    z-index: -1;
}

.background img {
    position: relative;
    mix-blend-mode: luminosity;
    height: 80%;
    opacity: 0.1;
    left: -15%;
}