.home {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.background {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -1vw;

    margin: 0;
    padding: 0;
    
    width: 101vw;
    height: 100%;

    background-image: linear-gradient(rgba(0, 255, 0, .7) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 255, 0, .7) .1em, transparent .1em);
    background-size: 2em 2em;

    z-index: -1;
}

.background::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 101vw;
    height: 25%; /* Adjust this value to change the height of the fade */
    background: linear-gradient(transparent, #242424); /* Adjust the colors to match your design */
}