.home {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home h1 {
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    padding: 0;

    color: #fff;

    z-index: 1;
}

.light {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    /* background: var(--tile-color); */
    /* background: rgba(0, 0, 255, 0.2); */
    background: #242424;
    
    pointer-events: none;
    box-shadow: 0 0 50px 30px #242424;
    /* box-shadow: 0 0 50px 30px rgba(150, 150, 255, 0.23); */
    /* box-shadow: 0 0 50px 30px rgba(0, 0, 255, 0.23); */
    
    mix-blend-mode: multiply;

    z-index: -1;
  }

  .background {
    /* set var */
    --tile-color: rgb(0, 0, 255);
    --tile-colora: rgba(0, 0, 200, 1);
    overflow: hidden;
    position: absolute;
    top: -1vh;
    left: -1vw;
    margin: 0;
    padding: 0;
    width: 101vw;
    height: 101vh;

    /* background-image: 
        linear-gradient(45deg, var(--tile-color) 25%, transparent 25%, transparent 75%, var(--tile-color) 75%, var(--tile-color)),
        linear-gradient(45deg, var(--tile-color) 25%, transparent 25%, transparent 75%, var(--tile-color) 75%, var(--tile-color)); */
    background-image: linear-gradient(var(--tile-colora) .1em, transparent .1em), linear-gradient(90deg, var(--tile-colora) .1em, transparent .1em);
    background-size: 2em 2em;



    z-index: -1;
}

/* .background::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 101vw;
    height: 50%; /* Adjust this value to change the height of the fade *//*
    background: linear-gradient(transparent, #242424); /* Adjust the colors to match your design *//*

    z-index: -1;
} */