.home {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.light {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background: rgba(255, 255, 255, 0.2);
    pointer-events: none;
    mix-blend-mode: overlay;
    box-shadow: 0 0 50px 30px rgba(255, 255, 255, 0.23);

    z-index: -1;
  }

.background {
    overflow: hidden;
    position: absolute;
    top: -1vh;
    left: -1vw;

    margin: 0;
    padding: 0;
    
    width: 101vw;
    height: 101vh;

    background-image: linear-gradient(rgba(0, 255, 0, .2) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 255, 0, .2) .1em, transparent .1em);
    background-size: 2em 2em;

    z-index: -1;
}

.background::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 101vw;
    height: 50%; /* Adjust this value to change the height of the fade */
    background: linear-gradient(transparent, #242424); /* Adjust the colors to match your design */

    z-index: -1;
}