.menu img  {
    height: 2rem;
}

.menu__links {
    background-color: var(--color-light);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 50vh;

    padding-top: 25vh;
    padding-bottom: 25vh;

    z-index: 500;
}