:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-black: #181818;
  --color-darker: #1e1e1e;
  --color-dark: #242424;
  --color-blue: #517664;
  --color-orange: #cc5334;
  --color-red: #cc3333;
  --color-green: #7bb517;
  --color-light: #d9d9d9;
  --color-lighter: #e4e4e4;


  color-scheme: light dark;
  color: var(--color-light);
  background-color: var(--color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-dark);
    background-color: var(--color-light);
  }
}
